

@import "compass/css3/box-shadow";




/* --- Variables --- */

$helvetica-stack: Helvetica, Arial, Sans-serif;
$montserrat-stack: 'Montserrat', $helvetica-stack;
$raleway-stack: 'Raleway', $helvetica-stack;
$opensans-stack: 'Open Sans', $helvetica-stack;
$on-white: 0px 0px 16px rgba(black, 0.3);
$divider-color: #CCC;


/* --- Mixins --- */
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


body, html, .container {
	margin: 0px;
	height: 100% !important;
	width: 100% !important;
}

.max-width-container {
	width: 90%;
	max-width: 950px;
	display: inline-block;
	text-align: center;
}


.slide {
	text-align: center;
	min-height: 400px;
	padding: 40px 0px;


	.header {
		text-align: center;
		font-family: $raleway-stack;
		font-size: 34px;
		text-transform: uppercase;
		font-weight: 300;
		padding: 6px;
		margin: 30px 0;
		border-bottom: 1px solid $divider-color;
	}

	.header.dark-bg {
		color: #EEE;
	}


}


.image-slide {
	@extend .slide;

	.background-filter {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background: black;
		opacity: 0.3;
	}
}



$hero-break-small: 770px;
.title-slide {
	@extend .slide;

	// flickr: desobte
	background-size: cover !important;
	background: url('../images/hero_blur.jpg') no-repeat center center fixed;
	height: 100%;
	overflow: hidden;

	padding: 0px;


	.slide-content {
		@include vertical-align;

		.slide-header {
			position: relative;
			font-size: 90px;
			color: white;
			text-shadow: $on-white;
			text-transform: uppercase;
			font-family: $montserrat-stack;

			@media (max-width: $hero-break-small) {
				font-size: 60px;
			}
			@media (max-width: 550px) {
				font-size: 45px;
			}
		}

		.divider, .subtext {

			// Correct header text being too tall
			position: relative;
			top: -25px;

			@media (max-width: $hero-break-small) {
				top: -15px;
			}
			@media (max-width: 550px) {
				top: -10px;
			}
			@media (max-width: 450px) {
				top: -8px;
			}
		}

		.divider {
			hr {
				margin-top: 8px;
				margin-bottom: 2px;

				@media (max-width: $hero-break-small) {
					margin-top: 3px;
					margin-bottom: 2px;
				}
			}
			.hr-top {
				width: 750px;
				max-width: 85%;
			}
			.hr-bottom {
				width: 800px;
				max-width: 90%;
			}
		}

		.subtext {
			color: #EEE;
			font-family: $opensans-stack;
			font-size: 30px;
			font-weight: 100;

			text-transform: uppercase;
			text-shadow: $on-white;

			letter-spacing: 2px;

			@media (max-width: $hero-break-small) {
				font-size: 20px;
			}
			@media (max-width: 450px) {
				font-size: 12px;
			}
		}
	}
}




.about-slide {
	@extend .slide;

	// Shadow for the bottom of the title slide
	@include box-shadow(rgba(black, 0.8) 0px 0px 65px);
	background: url('../images/agsquare.png');

	.skills {

		.skills-col {
			padding: 0px 35px;
		}

		.icon-description {
			height: 40px;
			line-height: 40px;
			font-family: $raleway-stack;
			font-size: 16px;
			font-weight: 300;
			color: black;
		}

		img {
			padding-bottom: 26px;

			opacity: 0.8;
			height: 120px;
			width: auto;
		}
		img:hover {
			opacity: 1;
		}
	}

	.divider-row {

		.divider {
			margin: 50px auto 70px;

			width: 100%;
			background: $divider-color;
			height: 1px;
		}
	}

	.testimonials {

		blockquote {
			text-align: left;
			border-color: #CCC;
			border-width: 3px;
			font-family: $opensans-stack;
			font-weight: 100;
			margin: 14px;
			padding-right: 30px;

			footer {
				margin-top: 8px;
			}
		}
	}
}



.themes-slide {
	@extend .slide;

	background-size: cover !important;
	background: url('../images/blueGradient.jpg') no-repeat center center fixed;

	.subheader {
		letter-spacing: 2px;
		margin-bottom: 10px;
		margin-top: 20px;
		font-family: $montserrat-stack;
		text-transform: uppercase;
		font-size: 30px;
		color: #FFF;
		opacity: 0.7;
	}

	.theme-frame {
		padding: 15px;
		// margin: 20px;
		background: rgba(white, 0.4);
		width: 100%;
		max-width: 350px;
		display: inline-block;

		.theme-container {
			text-align: center;
			overflow: hidden;

			img {
				margin: 0 -50%;
				display: inline-block;
				height: 400px;
				opacity: 0.7;
				width: auto;
				transition: opacity 0.5s;
			}

			img:hover {
				opacity: 0.9;
			}
		}
	}
}

.projects-slide {
	@extend .slide;
	background: url('../images/agsquare.png');
}

.footer-slide {
	@extend .slide;
	background: #333;
}
